<div class="weixin-app__page-view">
	<div class="weixin-app-navigation">
		<div class="weixin-app-navigation__content">
			<h2 class="weixin-app-navigation__title">发现</h2>
		</div>
	</div>
	<div class="weixin-app-content">
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-find"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">朋友圈</p>
					<span class="weixin-app-content__find-notify">
						<i class="weixin-app-content__find-notify-tips"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-video"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">视频号</p>
				</div>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item weixin-app__miniprogram-entry">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-mini"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">小程序</p>
				</div>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-qrcode"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">扫一扫</p>
				</div>
			</div>
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-shake"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">摇一摇</p>
				</div>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-look"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">看一看</p>
				</div>
			</div>
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-search"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">搜一搜</p>
				</div>
			</div>
		</div>
	</div>
	<div class="weixin-app-footer-bar">
		<ul class="weixin-app-footer-btns">
			<li class="weixin-app-footer-btn">
				<span class="weixin-app-footer-btn__icon weixin-app-footer-btn__icon-wx"></span>
				<p class="weixin-app-footer-btn__name">微信</p>
			</li>
			<li class="weixin-app-footer-btn">
				<span class="weixin-app-footer-btn__icon weixin-app-footer-btn__icon-contact"></span>
				<p class="weixin-app-footer-btn__name">通讯录</p>
			</li>
			<li class="weixin-app-footer-btn">
				<span class="weixin-app-footer-btn__icon weixin-app-footer-btn__icon-find">
					<i class="weixin-app-footer-btn__find-update-notify"></i>
				</span>
				<p class="weixin-app-footer-btn__name">发现</p>
			</li>
			<li class="weixin-app-footer-btn">
				<span class="weixin-app-footer-btn__icon weixin-app-footer-btn__icon-profile"></span>
				<p class="weixin-app-footer-btn__name">我</p>
			</li>
		</ul>
	</div>
</div>