<div class="weixin-app__page-view weixin-app__mini">
	<div class="weixin-app-navigation">
		<div class="weixin-app-navigation__content">
			<div class="weixin-app-navigation__left-btn"></div>
			<h2 class="weixin-app-navigation__title">小程序</h2>
			<div class="weixin-app-navigation__right-btn"></div>
		</div>
	</div>
	<div class="weixin-app__mini-content">
		<div class="weixin-app__mini-search">
			<div class="weixin-app__mini-search-input">
				<p class="weixin-app__mini-search-input-placeholder">搜索小程序</p>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-nearby"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">附近的小程序</p>
				</div>
			</div>
		</div>
		<div class="weixin-app-content__group">
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-order"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">我的订单</p>
				</div>
			</div>
			<div class="weixin-app-content__item">
				<span class="weixin-app-content__left-icon weixin-app-content__icon-my-mini"></span>
				<span class="weixin-app-content__arrow"></span>
				<div class="weixin-app-content__name">
					<p class="weixin-app-content__name-txt">我的小程序</p>
				</div>
			</div>
		</div>
		<div class="weixin-app__mini-used">
			<h2 class="weixin-app__mini-used-title">应用市场</h2>
			<ul class="weixin-app__mini-used-list"></ul>
		</div>
	</div>
</div>